<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>@ViewData["Title"] | ActiveStudy</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/favicon.ico">
    <style>
        .validation-summary-errors {
            color: red;
        }
    </style>
</head>
<body>
<vc:header />

<main>
    @RenderBody()
</main>

<vc:footer />
<script src="~/vue.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
