<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>@ViewData["Title"] | ActiveStudy</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        
    <!-- CSS Front Template -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
</head>
<body>

<main>
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", false)
<!-- JS Global Compulsory -->
<script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- JS Front Dashboard -->
<script src="~/assets/js/hs.core.js"></script>
</body>
</html>
