@model ActiveStudy.Domain.Crm.Schools.School
@inject IViewLocalizer localizer

<div class="mr-lg-2">
    <div class="text-center mx-auto mb-3">
        <div class="mb-2">
            <h2>@Model.Title</h2>
        </div>
        <i class="fas fa-university fa-7x text-primary"></i>
        <p>@localizer["Owner"]: @Model.Owner.FullName</p>
    </div>
</div>
