@model ActiveStudy.Web.Models.Shared.MainInfoModel

<div class="text-center mx-auto mb-3">
    <div class="mb-2">
        <h2>
            @Model.Title
        </h2>
    </div>
    <i class="fas @Model.Icon fa-7x text-primary"></i>
</div>
