@model ActiveStudy.Web.Components.Header.HeaderModel
@inject IViewLocalizer localizer

<header>
    @if (Model.IsAuthenticated)
    {
        <div>
            <span>
                @Model.AccountModel.FullName
                (@Model.AccountModel.Username)
                <a asp-controller="Account" asp-action="Logout">@localizer["Sign out"]</a>
            </span>
        </div>
    }
    else
    {
        <div>
            <a asp-controller="Account" asp-action="Login">@localizer["Sign In"]</a>
        </div>
    }
</header>
