@model ActiveStudy.Web.Components.Header.HeaderModel
@inject IViewLocalizer localizer

<header>
    <div>
        @if (Model.IsAuthenticated)
        {
            <span>@Model.AccountModel.FullName</span>
            <text> | </text>
            <a asp-controller="Account"
               asp-action="Logout">@localizer["Sign out"]</a>
        }
        else
        {
            <a asp-controller="Account"
               asp-action="Login">@localizer["Sign In"]</a>
            <text>or</text>
            <a asp-controller="Account"
               asp-action="Registration">@localizer["Start For Free"]</a>
        }
    </div>
    <div>
        <a asp-area="EducationMaterials"
           asp-controller="TestWorks"
           asp-action="Index">Test works</a> |
        <a asp-area="EducationMaterials"
           asp-controller="FlashCards"
           asp-action="Index">Flash cards</a>
        @if (Model.IsAuthenticated)
        {
            <text>| </text>
            <a asp-area="Crm"
               asp-controller="School"
               asp-action="List">Schools</a>
        }
    </div>
</header>
