@model IEnumerable<ActiveStudy.Web.Components.Breadcrumb.BreadcrumbItem>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-no-gutter">
        @foreach (var item in Model)
        {
            if (item.IsActive)
            {
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="@item.Link">@item.Text</a></li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">@item.Text</li>
            }
        }
    </ol>
</nav>
