@model IEnumerable<ActiveStudy.Web.Components.Breadcrumb.BreadcrumbItem>

<div>
    @foreach (var item in Model)
    {
        if (item.IsActive)
        {
            <a href="@item.Link">@item.Text</a><span> ></span>
        }
        else
        {
            <span>@item.Text</span>
        }
    }
</div>
