@model IEnumerable<ActiveStudy.Web.Components.Breadcrumb.BreadcrumbItem>

<div class="bg-light">
    <div class="container py-3">
        <div class="row justify-content-md-between align-items-md-center">
            <div class="col-md-5 mb-3 mb-md-0">
                <!-- Breadcrumb -->
                <nav class="d-inline-block rounded" aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-no-gutter font-size-1 mb-0">
                        @foreach (var item in Model)
                        {
                            if (item.IsActive)
                            {
                                <li class="breadcrumb-item">
                                    <a href="@item.Link">@item.Text</a>
                                </li>
                            }
                            else
                            {
                                <li class="breadcrumb-item active" aria-current="page">@item.Text</li>
                            }
                        }
                    </ol>
                </nav>
                <!-- End Breadcrumb -->
            </div>
        </div>
    </div>
</div>