@model ActiveStudy.Web.Areas.EducationMaterials.Models.TestWorks.TestWorksListViewModel
@inject IHtmlLocalizer<SharedResource> sharedLocalizer;

@{
    ViewData["Title"] = sharedLocalizer["Test Works"].Value;
}

<h2>@sharedLocalizer["Test Works"]</h2>

<a asp-controller="MyTestWorks"
   asp-action="Create">Create</a>

<h3>My Test Works</h3>
<ul>
    @foreach (var testWork in Model.Items)
    {
        <li>
            <a asp-controller="TestWorks" asp-action="Details" asp-route-id="@testWork.Id">@testWork.Title</a> (@testWork.Status)
        </li>
    }
</ul>
