<footer class="bg-navy">
    <div class="container">

        <div class="space-1">
            <div class="row align-items-md-center mb-7">
                <div class="col-md-6 mb-4 mb-md-0">
                </div>

                <div class="col-md-6 text-md-right">
                    <ul class="list-inline mb-0">
                        <!-- Language -->
                        <li class="list-inline-item">
                            <vc:language-select />
                        </li>
                        <!-- End Language -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
