@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Your email has been confirmed"];
}

@Html.ValidationSummary()

@if (ViewData.ModelState.IsValid)
{
    <h1>@localizer["Your email has been confirmed"]</h1>
    <a asp-controller="Account" asp-action="Login">@localizer["Sign In"]</a>
}
