@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Your account has been created"];
}

<div class="d-lg-flex text-center">
    <div class="container d-lg-flex align-items-lg-center min-vh-lg-100 space-top-3 space-bottom-1 space-lg-0">
        <div class="w-100 mx-auto">
            <div class="w-md-80 w-lg-50 text-center mx-md-auto">
                <div class="mb-5">
                    <h1 class="h2">@Localizer["Your account has been created"]</h1>
                    <p>@Localizer["Thank you for registering. Please check your email"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
