@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Your account has been created"];
}

<div>
    <h1>@localizer["Your account has been created"]</h1>
    <p>@localizer["Thank you for registering. Please check your email"]</p>
</div>
